server {
    listen 80;
    server_name 52.221.238.234;

    location / {
        proxy_pass http://localhost:8501;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
